<div class="container">
	<a ui-sref="about" class="nav-link">About</a>
	<h2 class="todos__h2">ToDo App</h2>

	<form ng-submit="createTask()">
	<input class="form-control todos__create-input" placeholder="What do I need to do?" ng-model="createTaskInput"></input>		
	<button class="btn btn-success todos__create-button">Create Task</button>
	</form>

	<table class="table table-striped">
	<tr>
		<th>Completed?</th>
		<th>Time</th>
		<th>Team #1</th>
		<th>Score</th>
		<th>Team #2</th>
		<th>Action</th>	
	</tr>
	<tr ng-repeat="todo in todos">
		<td>
			<input type="checkbox" ng-checked="todo.isCompleted" ng-click="onCompletedClick(todo)" />
		</td>
		<td>
			<span>{{todo.time}}</span>
		</td>
		<td>
			<span>{{todo.teamHome}}</span>
		</td>
		<td>
			<span class="todos__task">{{todo.score}}</span>
		</td>
		<td>
			<span>{{todo.teamGuest}}</span>
		</td>
		<td>
			<button class="btn btn-info">Edit</button>
			<button class="btn btn-danger">Delete</button>
		</td>			
	</tr>
	</table>						
</div>